<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Specify that Node.js will handle requests for index.js -->
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Rewrite all requests to index.js for processing -->
    <rewrite>
      <rules>
        <rule name="Nodejs" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
          </conditions>
          <action type="Rewrite" url="index.js" /> <!-- Removed leading '/' -->
        </rule>
      </rules>
    </rewrite>

    <!-- Enable logging and dev errors -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true" />
  </system.webServer>
</configuration>
