<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Indicates that the site is using Node.js -->
    <handlers>
      <!-- Update path to point to 'index.js' -->
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Set environment variables if needed -->
    <rewrite>
      <rules>
        <!-- Serve static files from the 'public' directory in the 'server' folder -->
        <rule name="StaticContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="./public/{R:1}" />
        </rule>

        <!-- Route all other requests to 'server/index.js' -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Enable IIS compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

    <!-- Logs errors to the Azure Web App logs for easier troubleshooting -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true" />

    <!-- Adjust the limits for node.js processes if necessary -->
    <limits maxRequestBodySize="30000000" />

    <!-- Set up caching for static files -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>

  </system.webServer>
</configuration>
